<.flash_group flash={@flash} />
<div class="flex justify-center p-24">
  <div class="w-1/2">
    <div>
      <p class="text-xl font-bold mb-4">Accordion</p>
      <PinesSampleWeb.Components.Accordion.render accordions={@accordions} />
    </div>
  </div>
</div>
